
.DS_Store
.ipynb_checkpoints/01introduzioneAPython-checkpoint.ipynb
.ipynb_checkpoints/02DataTypesAndOperations_-checkpoint.ipynb
jupyter/jupyterNotebooks/01ConsoleIOandVariables copy.ipynb
jupyter/jupyterNotebooks/02DataTypesAndOperations_.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/01introduzioneAPython-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations_-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01.01_ConsoleIOandVariables_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01.02_DataTypesAndOperations_Live-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01.03_DataTypesAndOperations_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_Programming-checkpoint.ipynb
